<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Apartments</title>
</head>
<body>
  <header class="header" id="navigation-menu">
    <div class="container" >
      <nav>
        <a href="#" class="logo"> <img src="image/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="/" class="nav-link">Home</a> </li>
          <li> <a href="/apartments" class="nav-link">Apartments</a> </li>
          <li> <a href="signin" class="nav-link">Log In</a> </li>
        </ul>

        <div class="hambuger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </header>

<section class="room top" id="departments" >
    <div class="container">
      <div class="heading_top flex1">
        <div class="heading">
          <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
          <h2>Apartments</h2>
        </div>
      </div>
     

      <div class="content grid">
          {{#each rows}}
        <div class="box">
          <div class="img">
            <img src="data:image/png;base64,{{imageHere}}" alt="">
          </div>
          <div class="text">
            <h3>{{roommates}} Roommates</h3>
            <h4>{{remainingRoommates}} Remaining</h4>
            <h4>{{city}} </h4>
            <p> <span>$</span>{{monthlyCost}} <span>/per month</span> </p>
          </div>
        </div>
     {{/each}}   
      </div>
    </div>
  </section>

</body>
</html>